# Node modules
node_modules/

# Environment variables
.env
.envrespaldo
# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS-specific files
.DS_Store
Thumbs.db

# Editor-specific files
.vscode/
.idea/

# Build files
dist/
build/

# Temporary files
*.tmp
*.temp
*.swp
*.swo

# Test coverage
coverage/

# Dependency directory for Serverless Framework
.serverless/

# TypeScript files (if using TypeScript)
*.tsbuildinfo
